$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

.blogTitleContainer{
	display: grid;
	width: 60%;	
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}
.blogTitle {
	font-size: 3rem;
	margin: 1%;
	margin-top: 2%;
	margin-bottom: -1%;
	text-align: left;
}
.blogSubTitle {
	font-size: 1.75rem;
	margin: 1%;
	text-align: left;
}
.postContainer {
	display: grid;
	grid-template-columns: 1fr;
	margin: auto;
	width: 60%;
}
.postWrapper {
	border: solid black 1px;
	margin: 1%;
	border-radius: 10px;
}
.postDate {
	text-align: center;
}
.postBody {
	text-align: center;
	font-size: 25px;
}

@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

@include sm {
}
@include md {
}
@include lg {
}
@include xl {
//	.postContainer {
//		display: grid;
//		grid-template-columns: 1fr;
//		margin: auto;
//		width: 60%;
//	}
//	.postWrapper {
//		border: solid black 1px;
//		margin: 1%;
//		border-radius: 10px;
//	}
//	.postBody {
//		text-align: center;
//	}
}
